<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firatyildiz.quiettime">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme"
        android:hardwareAccelerated="true">

        <!--android:process=":remote"-->
        <receiver
            android:enabled="true"
            android:exported="true"
            android:name="com.firatyildiz.quiettime.app.QuietTimeAlarmReceiver" />

        <activity android:name=".app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>